<div
    class="characteristics"
    *ngIf="limited">
    <div class="characteristics-limited">
        <h3 class="characteristics__title">
            Характеристики
            <span>{{ productTitle }}</span>
        </h3>
        <ul>
            <li
                *ngFor="let item of textArray"
                class="characteristics__fullItem fullItem">
                <p class="fullItem__title">{{ item.heading }}<span></span></p>
                <p class="fullItem__text">{{ item.text }}</p>
            </li>
        </ul>
    </div>
    <a routerLink="{{ link }}">
        <button class="showMoreBtn characteristics-limited__btn">
            Дивитися всі характеристики
            <mat-icon class="showMoreBtn__icon">arrow_right_alt</mat-icon>
        </button>
    </a>
</div>

<div
    class="characteristics"
    *ngIf="full">
    <ul>
        <li
            *ngFor="let item of textArray"
            class="characteristics__fullItem fullItem">
            <p class="fullItem__title">{{ item.heading }}<span></span></p>
            <p class="fullItem__text">{{ item.text }}</p>
        </li>
    </ul>
</div>
