<app-input-text (inputValue)="showItems($event)" [inpVal]="letter" />
<p (click)="setShowBlock()" class="info-item">Алфавітний вказівник</p>
<div *ngIf="showBlock" class="alphabet-wrapper">
  <span class="info-item info-item-underlined" *ngFor="let item of firstLetters" (click)="letter = item"
    >{{ item }}
  </span>
</div>
<ul class="checkbox-items">
  <li *ngFor="let option of filteredAlphabetArr" class="checkbox-item">
    <p class="checkbox-title">{{ option.letter }}</p>
    <div *ngFor="let op of option.items">
      <app-checkbox [search]="true" [label]="op.label" [searchId]="op.id" />
    </div>
  </li>
</ul>
