<aside
    class="products__catalog"
    *ngIf="full">
    <!-- список категорій -->
    <ng-container *ngIf="data && data.length > 0; else skeleton">
        <ul class="categories__list">
            <li
                class="categories__item categories__item-basic"
                *ngFor="let product of data">
                <mat-icon class="categories__icon">{{ product.icon }}</mat-icon>
                <a routerLink="{{ product.engName + '/' + product.id }}">
                    {{ product.name }}
                </a>
            </li>
        </ul>
    </ng-container>
    <ng-template #skeleton>
        <div class="skeleton-categories">
            <ul>
                <li class="skeleton-row">&nbsp;</li>
                <li class="skeleton-row">&nbsp;</li>
                <li class="skeleton-row">&nbsp;</li>
                <li class="skeleton-row">&nbsp;</li>
            </ul>
        </div>
    </ng-template>
    <!-- кнопка "ласкаво просимо" -->
    <div
        class="side-menu__infoBlock infoBlock welcome-block"
        *ngIf="!authService.isAuthenticated()">
        <h3 class="welcome-block__title">Ласкаво просимо!</h3>
        <p class="welcome-block__text">
            Увійдіть, щоб отримувати рекомендації, персональні бонуси і знижки.
        </p>
        <button
            class="welcome-block__btn"
            (click)="modalService.openDialog('login')">
            Увійдіть в особистий кабінет
        </button>
    </div>
    <!-- додатки Розетка -->
    <div
        class="side-menu__media media media-bordered side-menu__infoBlock uploadApps-block">
        <p class="infoBlock__title">Встановлюйте наші додатки</p>
        <a
            target="_blank"
            href="https://play.google.com/store/apps/details/?id=ua.com.rozetka.shop&referrer=utm_source%3Dfullversion%26utm_medium%3Dsite%26utm_campaign%3Dfullversion"
            ><img
                src="../../../../assets/button-google-play.svg"
                alt="download-from-google-play"
        /></a>
        <a
            target="_blank"
            href="https://apps.apple.com/app/apple-store/id740469631"
            ><img
                src="../../../../assets/button-appstore.svg"
                alt="download-from-app-store"
        /></a>
    </div>
    <!-- соціальні мережі -->
    <div class="side-menu__media media media-bordered side-menu__infoBlock">
        <p class="infoBlock__title">Ми в соціальних мережах</p>
        <app-social-media></app-social-media>
    </div>
    <!-- інфо про компанію -->
    <div class="side-menu__infoBlock infoBlock">
        <p class="infoBlock__title">Інформація про компанію</p>
        <ul class="infoBlock__list">
            <li class="infoBlock__item">Про нас</li>
            <li class="infoBlock__item">Умови використання сайту</li>
            <li class="infoBlock__item">Вакансії</li>
            <li class="infoBlock__item">Контакти</li>
            <li class="infoBlock__item">Усі категорії</li>
        </ul>
    </div>
    <div class="side-menu__infoBlock infoBlock">
        <p class="infoBlock__title">Допомога</p>
        <ul class="infoBlock__list">
            <li class="infoBlock__item">Доставка та оплата</li>
            <li class="infoBlock__item">Кредит</li>
            <li class="infoBlock__item">Гарантія</li>
            <li class="infoBlock__item">Повернення товару</li>
            <li class="infoBlock__item">Сервісні центри</li>
        </ul>
    </div>
    <div class="side-menu__infoBlock infoBlock">
        <p class="infoBlock__title">Сервіси</p>
        <ul class="infoBlock__list">
            <li class="infoBlock__item">Бонусний рахунок</li>
            <li class="infoBlock__item">Rozetka Premium</li>
            <li class="infoBlock__item">Подарункові сертифікати</li>
            <li class="infoBlock__item">Rozetka Обмін</li>
        </ul>
    </div>
</aside>

<aside
    class="products__catalog"
    *ngIf="cabinet">
    <div class="side-menu__infoBlock infoBlock infoBlock-cabinet">
        <ul class="side-menu__list">
            <li class="side-menu__item">
                <a routerLink="/cabinet/personal-information">
                    <div
                        class="side-menu__item-innerWrapper cabinet-itemWrapper"
                        routerLinkActive="active">
                        <button class="textBtn">
                            <mat-icon class="textBtn__icon">person</mat-icon>
                            <div class="user-name">
                                <p>Den Rybachok</p>
                                <p class="user-email">drybachok@gmail.com</p>
                            </div>
                        </button>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</aside>
