<div>
    <div
        class="comments__item"
        *ngIf="commentsWithPhotoVideo.length > 0">
        <div class="comment__header comment__header-title">
            <p class="bold">Фотографії та відео покупців</p>
        </div>
        <div class="comment__main comment__sliderWrapper">
            <ul
                #sliderList
                class="comment__sliderList">
                <li
                    #sliderItem
                    *ngFor="let it of commentsWithPhotoVideo; let i = index"
                    class="comment__sliderItem"
                    (click)="openDialog('comments', i)">
                    <img
                        src="{{ it.photo }}"
                        alt="" />
                </li>
            </ul>
            <button
                *ngIf="commentsWithPhotoVideo.length > 8"
                class="comments__item comment__sliderBtn comment__sliderItem"
                (click)="openDialog('comments')">
                Ще
            </button>
        </div>
    </div>
    <div class="comments__item comment__leaveComment">
        <p class="fs20 comment__leaveComment-title">
            Залиште свій відгук про цей товар
        </p>
        <button
            class="btn btn-medium btn-grey comment__leaveComment-btn"
            (click)="openDialog('login')">
            Написати відгук
        </button>
    </div>
    <app-comments-panel
        [withFilters]="true"
        [comments]="commentsService.filteredComments">
    </app-comments-panel>
</div>
