<footer class="app-footer">
    <div class="app-footer__store">
        <div class="store">
            <h3 class="store__title">Завантажуйте наші додатки</h3>
            <ul class="store__list">
                <li>
                    <a _ngcontent-clu-c15="" target="_blank" href="https://play.google.com/store/apps/details/?id=ua.com.rozetka.shop&amp;referrer=utm_source%3Dfullversion%26utm_medium%3Dsite%26utm_campaign%3Dfullversion"><img _ngcontent-clu-c15="" src="../../../assets/button-google-play.svg" alt="download-from-google-play"></a>
                </li>
                <li>
                    <a _ngcontent-cyg-c15="" target="_blank" href="https://apps.apple.com/app/apple-store/id740469631"><img _ngcontent-cyg-c15="" src="../../../assets/button-appstore.svg" alt="download-from-app-store">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="app-footer__main">
        <div class="list">
            <div class="list__top">
                <div class="list__social">
                    <a href="#">
                        <mat-icon class="list__social-icon">schedule</mat-icon>
                        Графік роботи Call-центру
                    </a>
                <app-social-media></app-social-media>
                </div>
                <div class="list__links">
                    <div class="side-menu__infoBlock infoBlock footer-infoBlock">
                        <p class="infoBlock__title">Інформація про компанію</p>
                        <ul class="infoBlock__list">
                          <li class="infoBlock__item">Про нас</li>
                          <li class="infoBlock__item">Умови використання сайту</li>
                          <li class="infoBlock__item">Вакансії</li>
                          <li class="infoBlock__item">Контакти</li>
                          <li class="infoBlock__item">Усі категорії</li>
                        </ul>
                      </div>
                      <div class="side-menu__infoBlock infoBlock footer-infoBlock">
                        <p class="infoBlock__title">Допомога</p>
                        <ul class="infoBlock__list">
                          <li class="infoBlock__item">Доставка та оплата</li>
                          <li class="infoBlock__item">Кредит</li>
                          <li class="infoBlock__item">Гарантія</li>
                          <li class="infoBlock__item">Повернення товару</li>
                          <li class="infoBlock__item">Сервісні центри</li>
                        </ul>
                      </div>
                      <div class="side-menu__infoBlock infoBlock footer-infoBlock">
                        <p class="infoBlock__title">Сервіси</p>
                        <ul class="infoBlock__list">
                          <li class="infoBlock__item">Бонусний рахунок</li>
                          <li class="infoBlock__item">Rozetka Premium</li>
                          <li class="infoBlock__item">Подарункові сертифікати</li>
                          <li class="infoBlock__item">Rozetka обмін</li>
                        </ul>
                      </div>
                      <div class="side-menu__infoBlock infoBlock footer-infoBlock">
                        <p class="infoBlock__title">Партнерам</p>
                        <ul class="infoBlock__list">
                          <li class="infoBlock__item">Продавати на Розетці</li>
                          <li class="infoBlock__item">Співпраця з нами</li>
                          <li class="infoBlock__item">Франчайзинг</li>
                          <li class="infoBlock__item">Оренда приміщень</li>
                        </ul>
                      </div>
                </div>
            </div>
            <div class="list__bottom">
                <div>
                    <img src="../../../assets/mastercard.svg" alt="mastercard-icon">
                    <img src="../../../assets/visa.svg" alt="visa-icon">
                </div>
                <p>
                    © 2001–2023 Інтернет-магазин «Розетка™» — Щоразу що треба ТМ використовується на підставі ліцензії правовласника RozetkaLTD
                </p>
            </div>
        </div>
    </div>
</footer>