<div class="product__info info">
    <div class="stickyWrapper">
        <div class="info__main-sticky">
            <!-- карусель фото і відео -->
            <div class="info__image">
                <app-carousel
                    [slidesArr]="ProductService.product.images"
                    [extended]="true"
                    [show_indicators]="false">
                </app-carousel>
            </div>
            <button
                *ngIf="ProductService.product.video"
                class="info__videoBtn"
                (click)="scrollToBlock('videoBlock')">
                <mat-icon>play_circle</mat-icon>
            </button>
            <!-- загальний опис товару -->
            <div class="characteristics-top">
                <p>{{ ProductService.product.info_brief }}</p>
            </div>
            <div class="info__guarantee">
                <img
                    src="../../../assets/guarantee_2years.png"
                    alt="guarantee_term" />
            </div>
            <button
                class="showMoreBtn"
                (click)="scrollToBlock('characteristicsAndReviewsBlock')">
                Детальніше про товар
            </button>
        </div>
    </div>
    <div class="info__desc">
        <!-- кольори товару -->
        <div class="info__desc__colors">
            <app-color-palette></app-color-palette>
        </div>
        <!-- ціна, гарантія, сервіси, оплата -->
        <div class="info__item price-buy-panel mb24 info__desc__trade trade">
            <div class="trade__price">
                <!-- ціна -->
                <app-price
                    [price]="ProductService.price"
                    [big]="true">
                </app-price>
                <!-- наявність -->
                <p class="trade__price-status">
                    {{ ProductService.sellStatus }}
                </p>
            </div>
            <div class="trade__buy price-buy-panel__btn">
                <div *ngIf="cartService.productInCart; else buy">
                    <div class="inCart-block">
                        <mat-icon class="inCart-icon">shopping_cart</mat-icon>
                        <button class="btn btn-link btn-inCart" (click)="modalService.openDialog('cart')">
                            В кошику
                        </button>
                    </div>
                </div>
                <ng-template #buy>
                    <button class="btn iconed-btn btn-medium btn-green width100"
                    (click)="addToCart()">
                        <mat-icon class="iconed-btn__icon">shopping_cart</mat-icon>
                        Купити
                    </button>
                </ng-template>
            </div>
            <div class="trade__btns">
                <button class="btn btn-icon btn-icon-grey">
                    <mat-icon class="btn-icon__icon">balance</mat-icon>
                </button>
                <button class="btn btn-icon btn-icon-orange">
                    <mat-icon class="btn-icon__icon">favorite_border</mat-icon>
                </button>
            </div>
        </div>
        <div class="info__item mb24 services">
            <app-checkbox
                [services]="true"
                [label]="'Сервіси продовження гарантії'"></app-checkbox>
        </div>
        <!-- продавець -->
        <div class="info__item mb24 seller">
            <p class="seller__title">
                Продавець: <span>{{ ProductService.seller }}</span>
            </p>
            <div class="seller__image">
                <img
                    src="../../../assets/rozetka-seller.svg"
                    alt="rozetka" />
            </div>
        </div>
        <div class="info__item payment payment-main">
            <div class="payment__info">
                <button class="payment__info-btn">
                    <mat-icon>credit_card</mat-icon>
                </button>
                <p class="payment__info-text">
                    <span>Оплата. </span>Оплата під час отримання товару, Картою
                    онлайн, Google Pay, -5% знижки при оплаті від 500 грн
                    карткою Mastercard Універсальна/Універсальна Gold від
                    ПриватБанк, Безготівковими для юридичних осіб, Оплатити
                    онлайн соціальною картою "Пакунок малюка", Безготівковий для
                    фізичних осіб, Apple Pay, Visa, Оплатити онлайн картою
                    "єПідтримка", Mastercard
                </p>
            </div>
        </div>
        <div class="info__item payment payment-last">
            <div class="payment__info">
                <button class="payment__info-btn">
                    <mat-icon>security</mat-icon>
                </button>
                <p class="payment__info-text">
                    <span>Гарантія. </span>24 місяці Обмін/повернення товару
                    впродовж 14 днів
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <app-cards [data]="newProds"></app-cards> -->
<!-- характеристики -->
<div
    class="product__characteristicsAndReviews info"
    #characteristicsAndReviewsBlock>
    <div class="info__main">
        <div
            [class.characteristic-full]="showFullText"
            [class.characteristic-after]="!showFullText"
            class="characteristic">
            <h3 class="characteristic__title">
                Опис
                <span>{{ ProductService.product.title }}</span>
            </h3>
            <ul>
                <li
                    *ngFor="let item of ProductService.product.info_full"
                    class="characteristic__textBlock">
                    <p class="characteristic__textItem bold">
                        {{ item.heading }}
                    </p>
                    <p class="characteristic__textItem">
                        {{ item.text }}
                    </p>
                </li>
            </ul>
        </div>
        <button
            [class.displayNone]="hideBtn"
            class="btn btn-link margin-zero"
            (click)="showFullBlock()">
            Читати повністю
        </button>
        <!-- блок характеристик товару -->
        <app-characteristics-block
            [limited]="true"
            [productTitle]="ProductService.product.title"
            [textArray]="ProductService.product.info"
            [link]="
                '/' +
                ProductService.product.engName +
                '/' +
                ProductService.product.id +
                '/characteristics'
            ">
        </app-characteristics-block>
        <!-- додаткові матеріали -->
        <div class="characteristic">
            <h3 class="characteristic__title">
                Додаткові матеріали
                <span>{{ ProductService.product.title }}</span>
            </h3>
            <ul class="documents">
                <li class="documents__item">
                    <div class="documents__left">
                        <button>
                            <mat-icon>attach_file</mat-icon>
                        </button>
                        <p>Інструкція користувача</p>
                    </div>
                    <div class="documents__right">
                        <span>PDF 5.5 Mb</span>
                        <a
                            href="https://content1.rozetka.com.ua/goods/documents/original/243882776.pdf"
                            target="_blank"
                            class="btn btn-small btn-grey iconed-btn">
                            Завантажити
                        </a>
                    </div>
                </li>
                <li class="documents__item">
                    <div class="documents__left">
                        <button>
                            <mat-icon>attach_file</mat-icon>
                        </button>
                        <p>Інструкція користувача</p>
                    </div>
                    <div class="documents__right">
                        <span>PDF 5.5 Mb</span>
                        <a
                            href="https://content1.rozetka.com.ua/goods/documents/original/243882776.pdf"
                            target="_blank"
                            class="btn btn-small btn-grey iconed-btn">
                            Завантажити
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- відгуки -->
    <div class="comments info__desc">
        <app-comments-panel
            [comments]="ProductService.product.reviews_data"
            [link]="
                '/' +
                ProductService.product.engName +
                '/' +
                ProductService.product.id +
                '/comments'
            ">
        </app-comments-panel>
    </div>
</div>
<!-- відео блок -->
<div
    *ngIf="ProductService.product.video"
    class="product__video video">
    <div
        class="video__wrapper"
        #videoBlock>
        <app-carousel
            [slidesArr]="ProductService.product.video"
            [extendedBig]="true"
            [extendedBigWide]="true"
            [show_indicators]="false"
            [show_btns]="false">
        </app-carousel>
    </div>
    <div class="video__link">
        Підпишіться на наш канал
        <a
            href="https://www.youtube.com/channel/UCr7r1-z79TYfqS2IPeRR47A"
            target="_blank">
            <img
                src="../../../assets/youtube.png"
                alt="youtube-logo" />
        </a>
    </div>
</div>
<!-- <app-cards [Wdata]="newProds"></app-cards> -->
