<section
    class="product"
    *ngIf="ProductService.product">
    <!-- url товару: категорія, підкатегорія... -->
    <ng-container *ngIf="ProductService.category && ProductService.subCategory">
        <app-breadcrumbs 
        [data]="[ProductService.category.name, ProductService.subCategory.name]">
        </app-breadcrumbs>
    </ng-container>
    <!-- назва товару -->
    <h1 class="product__title">
        {{ ProductService.product.title }}
    </h1>
    <!-- панель рейтингу -->
    <div class="product__rating">
        <app-rating
            [fixed]="true"
            [activeIconIndex]="ProductService.raiting">
        </app-rating>
        <a
            routerLink="{{ '/' + ProductService.product.engName + '/' + ProductService.product._id + '/comments' }}">
            {{ ProductService.product.reviews_data.length }} відгуків
        </a>
        <p class="product__code">
            <span> Код: </span>
            {{ ProductService.product._id }}
        </p>
    </div>
    <!-- таби: коментарі, відгуки, фото, відео -->
    <app-tabs
        [data]="ProductService.tabs"
        [startRoute]="ProductService.product.engName + '/' + ProductService.product._id">
    </app-tabs>
    <!-- контент для табів з роутер-аутлету -->
    <ng-container *ngIf="baseView; else tabsView">
        <router-outlet></router-outlet>
    </ng-container>
    <ng-template #tabsView>
        <div class="product-section">
            <div class="product-section__info">
                <!-- роути під конкретний таб -->
                <!-- ліва частина сторінки -->
                <router-outlet></router-outlet>
            </div>
            <!-- права частина сторінки -->
            <div class="product-section__card">
                <div class="info__item mb16 card">
                    <div class="card__image">
                        <img
                            src="{{ ProductService.product.image }}"
                            alt="good" />
                    </div>
                    <p class="card__title">
                        {{ ProductService.product.title }}
                    </p>
                </div>
                <div class="info__item mb16">
                    <div class="price">
                        <div class="trade__price">
                            <app-price
                                [price]="ProductService.price"
                                [big]="true">
                            </app-price>
                            <p class="trade__price-status">
                                {{ ProductService.sellStatus }}
                            </p>
                        </div>
                        <div class="trade__btns">
                            <button class="btn btn-icon btn-icon-grey">
                                <mat-icon class="btn-icon__icon"
                                    >balance</mat-icon
                                >
                            </button>
                            <button class="btn btn-icon btn-icon-orange"  aria-label="Додати до улюблених">
                                <mat-icon class="btn-icon__icon">
                                    favorite_border
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="trade__buy">
                        <div *ngIf="cartService.productInCart; else buy">
                            <div class="inCart-block">
                                <mat-icon class="inCart-icon">shopping_cart</mat-icon>
                                <button class="btn btn-link btn-inCart" (click)="modalService.openDialog('cart')">
                                    В кошику
                                </button>
                            </div>
                        </div>
                        <ng-template #buy>
                            <button 
                                class="btn iconed-btn btn-medium btn-green width100"
                                (click)="addToCart()">
                                <mat-icon class="iconed-btn__icon">shopping_cart</mat-icon>
                                Купити
                            </button>
                        </ng-template>
                    </div>
                </div>
                <div class="info__item mb16 seller">
                    <p class="seller__title">
                        Продавець: <span>{{ ProductService.seller }}</span>
                    </p>
                    <div
                        class="seller__image"
                        *ngIf="ProductService.seller === 'Rozetka'">
                        <img
                            src="../../../assets/rozetka-seller.svg"
                            alt="rozetka" />
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-cards [data]="newProds"></app-cards> -->
        <!-- адаптив: панель продукту -->
        <div class="product-panel">
            <img
                src="{{ ProductService.product.image }}"
                alt="product-panel__img"
                class="product-panel__img" />
            <p class="product-panel__title">
                {{ ProductService.product.title }}
            </p>
            <app-price [price]="ProductService.price"> </app-price>
            <div class="trade__buy">
                <button class="btn iconed-btn btn-medium btn-green width100">
                    <mat-icon class="iconed-btn__icon">shopping_cart</mat-icon>
                    Купити
                </button>
            </div>
        </div>
    </ng-template>
</section>
