<div class="comments__item comment">
    <div class="comment__header">
        <div class="comment__icon">
            <mat-icon>add_shopping_cart</mat-icon>
        </div>
        <div class="comment__author">
            <div class="bold">{{comment.author}}</div>
            <div class="fs12">Відгук від покупця</div>
        </div>
        <time class="comment__date">{{comment.date | date}}</time>
    </div>
    <div class="comment__main">
        <div class="comment__seller mb16">Продавець: <span>Rozetka</span></div>
        <div class="mb16"><app-rating [fixed]="true" [activeIconIndex]="comment.rating"></app-rating></div>
        <div>
            <div [class.mb16]="comment.advantages || comment.disadvantages" class="comment__text">{{comment.text}}</div>
            <div>
                <ng-container *ngIf="comment.advantages">
                    <p class="bold mb8">Переваги:</p>
                    <p class="mb8">{{comment.advantages}}</p>
                </ng-container>
                <ng-container *ngIf="comment.disadvantages">
                    <p class="bold mb8">Недоліки:</p>
                    <p class="mb8">{{comment.disadvantages}}</p>
                </ng-container>
            </div>
        </div>
        <ng-container *ngIf="comment.photo">
            <div class="mb8 comment__photo">
                <img src={{comment.photo}} alt="">
            </div>
        </ng-container>
        <div class="comment__footer ">
            <button class="showMoreBtn">
                <mat-icon class="showMoreBtn__icon">subdirectory_arrow_right</mat-icon>
                Відповісти
            </button>
            <div class="comment__votes">
                <div class="flex-center">
                    <mat-icon class="icon-like flex-center">
                        thumb_up_off_alt
                    </mat-icon>
                    <span class="fs12">{{comment.likes}}</span>
                </div>
                <div class="flex-center">
                    <mat-icon class="icon-dislike flex-center">
                        thumb_down_off_alt
                    </mat-icon>
                    <span class="fs12">{{comment.dislikes}}</span>
                </div>
            </div>
        </div>
    </div>
</div>