<header class="header">
    <div class="header__layout">
        <div class="header-menu">
            <button aria-label="Відкрити меню">
                <mat-icon
                    class="burger-icon header-icon"
                    (click)="menuService.openMenu('auth')">
                    menu
                </mat-icon>
            </button>
        </div>
        <a
            class="header-logo"
            routerLink="/">
            <picture>
                <source
                    srcset="../../../../assets/rozetka.png"
                    media="(max-width: 1200px)" />
                <img
                    class="header-logo__main"
                    src="../../../../assets/rozetka.svg"
                    alt="rozetka-logo" />
            </picture>
        </a>
        <div
            class="header-catalog"
            (click)="modalService.openDialog('product')">
            <button aria-label="Відкрити каталог товарів">
                <mat-icon *ngIf="openedDialog === 'product'; else catalog" class="icon">close</mat-icon>
                <ng-template #catalog>
                    <mat-icon class="icon">dashboard</mat-icon>
                </ng-template>
            </button>
            <span>Каталог</span>
        </div>
        <app-input-searchBox></app-input-searchBox>
        <ul class="header-actions">
            <li class="header-actions__item languages">
                <ul class="languages__list">
                    <!-- <li class="languages__item languages__item-ru">RU</li> -->
                    <li
                        class="languages__item languages__item-ua languages__item-active">
                        UA
                    </li>
                </ul>
            </li>
            <li class="header-actions__item">
                <mat-icon
                    class="header-icon header-icon-user"
                    (click)="modalService.openDialog('login')"
                    *ngIf="!authService.isAuthenticated(); else logged">
                    person
                </mat-icon>
                <ng-template #logged>
                    <a routerLink="cabinet/personal-information">
                        <mat-icon class="header-icon header-icon-user">
                            list_alt
                        </mat-icon>
                    </a>
                </ng-template>
            </li>
            <li class="header-actions__item" (click)="modalService.openDialog('cart')">
                <button matBadge="{{cartService.totalProductsNumber > 0 ? cartService.totalProductsNumber : ''}}" matBadgePosition="above after" class="custom-badge" aria-label="Відкрити корзину">
                    <mat-icon class="header-icon">shopping_cart</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</header>

