<div class="card">
    <a
        href=""
        class="card__link">
        <span class="card__imageWrapper">
            <img
                class="card__image"
                src="{{ data.img }}"
                alt="{{ data.name }}" />
        </span>
    </a>
    <a
        routerLink="{{'/' + data.engName + '/' + data.id }}"
        class="card__link card__title"
        [class.startText]="data.subitems">
        {{ data.name }}
    </a>
    <ul
        *ngIf="data.subitems"
        class="card-extraList">
        <li *ngFor="let item of data.subitems">
            <a href="">{{ item }}</a>
        </li>
    </ul>
</div>
