@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap')
@import 'variables'
@import 'mixins'

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box
input:focus
    outline: none
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
    -webkit-appearance: none
    appearance: none
    margin: 0
h1, h2, h3, h4, h5
    margin: 0
    padding: 0
html
    font-size: 62.5%
body
    background: $main-white
    color: $main-black
    font-size: 1.4rem
    font-family: 'Arial', 'Roboto'
    font-weight: 400
img
    max-width: 100%
a
    color: $main-blue
    text-decoration: none
    border: none
    color: inherit
    outline: none
a:hover
    text-decoration: none
    color: inherit
a:visited
    color: #3e77aa
    border: none
a:active
    color: inherit
    border: none
    text-decoration: none
a:focus
    color: inherit
    outline: none
    text-decoration: none
button,input,optgroup,select,textarea
    font-family: inherit
    font-size: 100%
    line-height: 1.15
    margin: 0
    border: none
    outline: none
    background: none
button:active, button:focus
    outline: none
    border: none
p, ul
    margin: 0
ul
    list-style: none
