@import 'mixins'

.video-wrapper
    height: 690px
    padding: .5rem 3.2rem
    background: #221f1f
    @include respond(phoneL)
        height: 45rem
        padding: 0.5rem
.video__link
    margin: 1rem 0
    color: #fff
    a
        img
            width: 3rem
            height: 3rem
.carousel-wrapper
    @include respond(phoneL)
        height: 40rem

//    
:host
    ::ng-deep app-carousel
        .dots-row__item-big
            width: 12.2rem
            height: 13.5rem
        .dots-row__list-big
            gap: 3.2rem
        .dots-row__img-big
            width: 12.2rem
            height: 13.5rem
            object-fit: cover
        .dots-row__item-big-btn::before
            width: 3rem
            height: 3rem
        .carousel-extendedBig
            @include respond(phoneL)
                height: 60%
        .iframe-wrapper
            height: 43rem
