<div class="price-panel">
    <div class="price-panel__main">
        <!-- мінімальна ціна -->
        <input
            type="number"
            [(ngModel)]="start"
            class="price-panel__input"
            [class.price-panel__input-error]="!start || !end" />
        <span>-</span>
        <!-- максимальна ціна -->
        <input
            type="number"
            [(ngModel)]="end"
            class="price-panel__input"
            [class.price-panel__input-error]="!start || !end" />
        <!-- кнопка ОК -->
        <button
            [disabled]="!start || !end"
            (click)="onSubmitPrice()"
            class="btn btn-grey btn-small price-panel__btn">
            OK
        </button>
    </div>
    <!-- слайдер для вибору діапазону ціни -->
    <mat-slider
        min="{{ startStaticPrice }}"
        max="{{ endStaticPrice }}">
        <input
            matSliderStartThumb
            [(ngModel)]="start"
            (input)="setMinValue($event)" />
        <input
            matSliderEndThumb
            [(ngModel)]="end"
            (input)="setMaxValue($event)" />
    </mat-slider>
</div>
