<div class="price-panel">
  <div class="price-panel__main">
    <input
      type="number"
      [(ngModel)]="startPrice"
      class="price-panel__input"
      [class.price-panel__input-error]="!startPrice || !endPrice"
    />
    <span>-</span>
    <input
      type="number"
      [(ngModel)]="endPrice"
      class="price-panel__input"
      [class.price-panel__input-error]="!startPrice || !endPrice"
    />
    <button
      [disabled]="!startPrice || !endPrice"
      class="btn btn-grey btn-small price-panel__btn"
    >
      OK
    </button>
  </div>
    <input type="range" min="0" max="100" value="0" class="inp1"/>
</div>
