<div class="price-panel">
  <div class="price-panel__main">
    <!-- мінімальна ціна -->
    <input
      type="number"
      [(ngModel)]="startPriceInp"
      class="price-panel__input"
      [class.price-panel__input-error]="!startPrice || !endPrice"
    />
    <span>-</span>
    <!-- максимальна ціна -->
    <input
      type="number"
      [(ngModel)]="endPriceInp"
      class="price-panel__input"
      [class.price-panel__input-error]="!startPrice || !endPrice"
    />
    <!-- кнопка ОК -->
    <button
      [disabled]="!startPrice || !endPrice"
      (click)="onChange()"
      class="btn btn-grey btn-small price-panel__btn"
    >
      OK
    </button>
  </div>
  <!-- слайдер для вибору діапазону ціни -->
  <mat-slider min="{{ startPrice }}" max="{{ endPrice }}">
    <input matSliderStartThumb (input)="setMinValue($event)" />
    <input matSliderEndThumb (input)="setMaxValue($event)" />
  </mat-slider>
</div>
