<ul class="list">
    <li
        *ngFor="let item of data; let i = index"
        class="list__item-wrapper">
        <!-- Назва інпута -->
        <div
            class="list__item"
            (mouseenter)="makeActiveTitle(i)"
            (mouseleave)="makeDisactiveTitle()"
            (click)="openBlock(i)">
            <!-- заголовок -->
            <p
                class="list__itemTitle"
                [class.list__itemTitle-active]="activeTitleIndex === i">
                {{ item.title }}
                <!-- кількість позицій -->
                <span>{{ item.options.length }}</span>
            </p>
            <!-- іконка -->
            <mat-icon
                class="list__itemBtn"
                [class.rotate]="this.activeIndexArr.indexOf(i) === -1"
                [class.rotateBack]="this.activeIndexArr.indexOf(i) > -1">
                expand_less
            </mat-icon>
        </div>
        <!-- Повна версія інпута -->
        <div
            [class.list__item-full-active]="
                this.activeIndexArr && this.activeIndexArr.indexOf(i) > -1
            "
            class="list__item-full">
            <!-- чекбокси -->
            <ul class="checkbox-list">
                <!-- розширений алфавітний чекбокс -->
                <li *ngIf="item.options.length > 7; else all">
                    <app-alphabet-block
                        [data]="getBrends()"
                        (alphabetBlockChange)="
                            onCheckboxChange($event)
                        "></app-alphabet-block>
                </li>
                <!-- звичайний чекбокс -->
                <ng-template #all>
                    <!-- якщо інпут ціна -->
                    <li *ngIf="item.title === 'Ціна'; else others">
                        <app-price-panel
                            [startStaticPrice]="priceDataStart"
                            [endStaticPrice]="priceDataEnd"
                            (pricePanelChange)="onCheckboxChange($event)" />
                    </li>
                    <ng-template #others>
                        <li *ngFor="let op of item.options">
                            <app-checkbox
                                [search]="true"
                                [label]="op.label"
                                [searchId]="op.id"
                                (checkboxChange)="onCheckboxChange($event)" />
                        </li>
                    </ng-template>
                </ng-template>
            </ul>
        </div>
    </li>
</ul>
