<div class="products">
    <!-- бокова панель з категоріями товарів, додатками, соцмережами, інформацією про компанію -->
    <app-aside
        [data]="productService.allCategories"
        [full]="true">
    </app-aside>
    <main class="products__list prodlist">
        <app-cart-notification></app-cart-notification>
        <app-carousel
            class="custom-carousel"
            [autoSlidesOpening]="true"
            [slidesArr]="slides">
        </app-carousel>
        <!-- адаптив: список категорій при версії планшету -->
        <div class="categories-mini">
            <h2 class="categories-mini__title">Каталог товарів</h2>
            <ul class="categories-mini__list">
                <li
                    *ngFor="let product of productService.allCategories"
                    class="categories-mini__item">
                    <mat-icon class="categories-mini__icon">{{
                        product.icon
                    }}</mat-icon>
                    <a routerLink="{{ product.engName + '/' + product.id }}">
                        {{ product.name }}
                    </a>
                    <mat-icon class="categories-mini__icon">
                        chevron_right
                    </mat-icon>
                </li>
            </ul>
        </div>
        <!-- адаптив: список категорій при версії мобільного телефону -->
        <button
            class="btn categories-btn btn-green"
            (click)="modalService.openDialog('product')"
            aria-label="Відкрити каталог товарів">
            <mat-icon class="categories-btn__icon"> dashboard </mat-icon>
            Каталог товарів
        </button>
        <!-- картки -->
        <ng-container
            *ngIf="productService.newProds && productService.newProds.length > 0; else skeleton">
            <app-cards
                [data]="{
                    category: 'Гарячі новинки',
                    products: productService.newProds
                }">
            </app-cards>
        </ng-container>
        <ng-template #skeleton>
            <div class="newProds">
                <app-skeleton [variant]="'products'"></app-skeleton>
            </div>
        </ng-template>
        <ng-container
            *ngIf="productService.moreProds && productService.moreProds.length > 0; else skeletonMoreProds ">
            <div>
                <app-cards
                    [data]="{
                        category: 'Більше товарів для вибору',
                        products: productService.moreProds
                    }">
                </app-cards>
            </div>
        </ng-container>
        <ng-template #skeletonMoreProds>
            <div class="moreProds">
                <app-skeleton [variant]="'products'"></app-skeleton>
            </div>
        </ng-template>
        <ng-container
            *ngIf="
                productService.recommendedProds &&
                    productService.recommendedProds.length > 0;
                else skeletonRecommendedProds
            ">
            <app-cards
                [data]="{
                    category: 'Рекомендовані',
                    products: productService.recommendedProds
                }">
            </app-cards>
        </ng-container>
        <ng-template #skeletonRecommendedProds>
            <div class="recommendedProds">
                <app-skeleton [variant]="'products'"></app-skeleton>
            </div>
        </ng-template>
        <app-video-cards></app-video-cards>
    </main>
</div>
