<div class="products">
    <!-- бокова панель з категоріями товарів, додатками, соцмережами, інформацією про компанію -->
    <app-aside [data]="data" [full]="true"></app-aside>
    <!-- основна частина сторінки -->
    <main class="products__list prodlist">
        <app-carousel
            class="custom-carousel"
            [slidesArr]="slides">
        </app-carousel>
        <!-- адаптив: список категорій при версії планшету -->
        <div class="categories-mini">
            <h2 class="categories-mini__title">Каталог товарів</h2>
            <ul class="categories-mini__list">
                <li
                    *ngFor="let product of data"
                    class="categories-mini__item">
                    <mat-icon class="categories-mini__icon">{{
                        product.icon
                    }}</mat-icon>
                    <a routerLink="{{ product.engName + '/' + product.id }}">
                        {{ product.name }}
                    </a>
                    <mat-icon class="categories-mini__icon">
                        chevron_right
                    </mat-icon>
                </li>
            </ul>
        </div>
        <!-- адаптив: список категорій при версії мобільного телефону -->
        <button
            class="btn categories-btn btn-green"
            (click)="modalService.openDialog('product')">
            <mat-icon class="categories-btn__icon"> dashboard </mat-icon>
            Каталог товарів
        </button>
        <!-- картки -->
        <app-cards
            [data]="{
                category: 'Гарячі новинки',
                products: productService.newProds
            }">
        </app-cards>
        <app-cards
            [data]="{
                category: 'Більше товарів для вибору',
                products: productService.moreProds
            }">
        </app-cards>
        <app-cards
            [data]="{
                category: 'Рекомендовані',
                products: productService.recommendedProds
            }">
        </app-cards>
        <app-video-cards></app-video-cards>
    </main>
</div>
