@import 'mixins'

.main-wrapper
    min-height: 100vh
    display: flex
    flex-direction: column
    max-width: 160rem
    margin: 0 auto
    position: relative
.main-container
    padding: 0 3.2rem
    flex-grow: 1
    @include respond(tab-port)
        padding: .8rem
.header-wrapper
    align-self: flex-start
    position: sticky
    top: 0
    width: 100%
    z-index: 100
