<div class="characteristics characteristics-limited" *ngIf="limited">
    <h3 class="characteristics__title">Характеристики <span>Навушники Defunc True Music TWS Blue (D4274M)</span></h3>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Мікрофон<span></span></p>
        <p class="fullItem__text">Вбудований</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип навушників<span></span></p>
        <p class="fullItem__text">TWS (2 окремо)</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип підключення<span></span></p>
        <p class="fullItem__text">Бездротові</p>
    </div>
    <a href="">
        <button class="showMoreBtn">
            Дивитися всі характеристики
            <mat-icon class="showMoreBtn__icon">arrow_right_alt</mat-icon>
        </button>
    </a>
</div>

<div class="characteristics" *ngIf="full">
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Мікрофон<span></span></p>
        <p class="fullItem__text">Вбудований</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип навушників<span></span></p>
        <p class="fullItem__text">TWS (2 окремо)</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип підключення<span></span></p>
        <p class="fullItem__text">Бездротові</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Мікрофон<span></span></p>
        <p class="fullItem__text">Вбудований</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип навушників<span></span></p>
        <p class="fullItem__text">TWS (2 окремо)</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип підключення<span></span></p>
        <p class="fullItem__text">Бездротові</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Мікрофон<span></span></p>
        <p class="fullItem__text">Вбудований</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип навушників<span></span></p>
        <p class="fullItem__text">TWS (2 окремо)</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип підключення<span></span></p>
        <p class="fullItem__text">Бездротові</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Мікрофон<span></span></p>
        <p class="fullItem__text">Вбудований</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип навушників<span></span></p>
        <p class="fullItem__text">TWS (2 окремо)</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип підключення<span></span></p>
        <p class="fullItem__text">Бездротові</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип навушників<span></span></p>
        <p class="fullItem__text">TWS (2 окремо)</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип підключення<span></span></p>
        <p class="fullItem__text">Бездротові</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Мікрофон<span></span></p>
        <p class="fullItem__text">Вбудований</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип навушників<span></span></p>
        <p class="fullItem__text">TWS (2 окремо)</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип підключення<span></span></p>
        <p class="fullItem__text">Бездротові</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип підключення<span></span></p>
        <p class="fullItem__text">Бездротові</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип навушників<span></span></p>
        <p class="fullItem__text">TWS (2 окремо)</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип підключення<span></span></p>
        <p class="fullItem__text">Бездротові</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Мікрофон<span></span></p>
        <p class="fullItem__text">Вбудований</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип навушників<span></span></p>
        <p class="fullItem__text">TWS (2 окремо)</p>
    </div>
    <div class="characteristics__fullItem fullItem">
        <p class="fullItem__title">Тип підключення<span></span></p>
        <p class="fullItem__text">Бездротові</p>
    </div>
</div>