<section class="category">
    <app-breadcrumbs [data]="['Смартфони, ТВ і електроніка']"></app-breadcrumbs>
    <h1 class="category__title">{{category.title}}</h1>
    <div class="category__widget widget">
        <div class="widget__slider">
            <app-carousel [slidesArr]="category.banners"></app-carousel>
        </div>
        <div class="widget__categories">
            <h2 class="widget__subtitle">Популярні категорії</h2>
            <ul class="widget__categoriesList">
                <li *ngFor="let popular of category.popular">
                    <a href="#">
                        <img src={{popular.img}} alt={{popular.title}}>
                        {{popular.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="category__row row">
        <ul class="row__list">
            <li *ngFor="let brend of category.brends">
                <img class="row__image" src={{brend.img}} alt="brend_image">
            </li>
        </ul>
    </div>
    <ul class="category__list list">
        <li class="list__item" *ngFor="let category of category.list">
            <app-category-card [data]="category"></app-category-card>
        </li>
    </ul>
    <div *ngIf="category.title == 'Смартфони, ТВ і електроніка'" class="category__info infoBlock">
        <p>Що пропонує інтернет-магазин електроніки ROZETKA</p>
        <p>Без електроніки в сучасному житті важко уявити як роботу, так і дозвілля. Носимі гаджети супроводжують нас усюди, стаціонарні чекають вдома і допомагають приємно відпочивати з комфортом. А поява інтернету повністю змінило уявлення про те, як їх купувати. Тепер всі необхідні товари буквально під рукою, зібрані в одному місці, доступні до придбання одним кліком і доставляються за вказаною адресою. Саме на такий ідеальний шопінг запрошує інтернет-магазин ROZETKA.</p>
        <p>Ретельно сформований асортимент дозволяє кожному знайти потрібний пристрій, а також будь-які аксесуари для електроніки, що задовольнять навіть найвищі вимоги. Цікавлять недорогі мобільні телефони або останні новинки смартфонів преміум-класу від законодавців моди? Шукаєте крутий планшет, смарт-годинник або будь-який інший гаджет з портативної електроніки? Може, доглядаєте домашній кінотеатр, щоб насолоджуватися улюбленими фільмами? Всім покупцям ROZETKA приготувала вигідні пропозиції, які очікують у великому онлайн-каталозі.</p>
        <p>Які товари представлені в цьому розділі</p>
        <p>Серед безлічі категорій, представлених в інтернет-магазині електроніки ROZETKA, особливо популярні:</p>
        <ul class="infoBlock__list">
            <li>смартфони – від бюджетних до іміджевих флагманів, наприклад, як Apple Iphone. Компактні або моделі зі зручним екраном. Білі, жовті, зелені, червоні з потужним акумулятором, великим об'ємом пам'яті та іншими важливими особливостями;</li>
            <li>аксесуари для мобільних телефонів – в цьому розділі популярні захисні плівки, скло, чохли, карти пам'яті та батареї, моноподи для Селфі, гарнітури;</li>
            <li>планшети – досить молода, але дуже популярна категорія IT-продуктів, серед яких можна вибрати пристрій на основі Android, iOS або Windows. Стандартне 7-дюймовий, великоформатне або звичайнісіньке для інтернет-серфінгу відомих брендів</li>
        </ul>
        <p>Продукція, пропонована ROZETKA, відрізняється стильним дизайном, сучасним функціоналом і високою якістю. Асортимент товарів постійно розширюється і оновлюється з урахуванням всіх тенденцій в світі цифрової техніки і електроніки. Можна вибрати необхідний пристрій серед безперечних хітів або гучних новинок, пропонованих популярними брендами:</p>
        <ul class="infoBlock__list">
            <li>Samsung,</li>
            <li>Xiaomi,</li>
            <li>Apple,</li>
        </ul>
        <p>Незважаючи на величезний вибір, здійснювати покупки дуже легко. Чітко структурований розділ з категоріями та фільтрами дозволяє швидко зорієнтуватися на торговому майданчику. Для тих, хто хоче максимально заощадити, завжди доступні різні акції на електроніку і аксесуари. За найпривабливішими цінами можна купити в ROZETKA практично все – від фотоапаратів і повербанків до ноутбуків і домашніх кінотеатрів. Щоб покупки були доступні кожному, пропонується безпроцентний кредит або розстрочка. Уточнити всю інформацію та ознайомитися з умовами можна у відповідному розділі сайту.</p>
    </div>
</section>