<div class="wishlist">
    <!-- назва категорії -->
    <h2 class="wishlist__title">Список бажань</h2>
    <section class="wishlist__details details">
        <div class="details__header">
            <h3 class="details__title">
                Список <span class="caption">(За замовчуванням)</span>
            </h3>
        </div>
        <div *ngIf="loading; else content">
            <div class="spinner">
                <mat-progress-spinner diameter="32" mode="indeterminate"></mat-progress-spinner>
            </div>
        </div>
        <ng-template #content>
            <div *ngIf="(wishlistService.wishlistItems$ | async)?.length" class="details__paramsWrapper">
                <ul class="details__params">
                    <li class="param">
                        <button
                            *ngIf="!allCardsChecked; else reset"
                            (click)="chooseAll()">
                            Вибрати все
                        </button>
                        <ng-template #reset>
                            <mat-icon
                                (click)="resetAll()"
                                class="param-icon param-icon--active">
                                done_all
                            </mat-icon>
                            <button (click)="resetAll()">Скинути вибір</button>
                        </ng-template>
                    </li>
                    <li
                        class="param"
                        [class.param-active]="checkedProds.length > 0">
                        <mat-icon
                            (click)="deleteFromWishlist()"
                            [class.disabledIcon]="checkedProds.length === 0"
                            class="param-icon">
                            delete_outline
                        </mat-icon>
                        <button
                            (click)="deleteFromWishlist()"
                            [disabled]="checkedProds.length === 0">
                            Видалити
                        </button>
                    </li>
                </ul>
                <div class="details__filters">
                    <app-select
                        [name]="'filters'"
                        [options]="wishlistService.sortOptions"
                        [activeOption]="wishlistService.sortOptions[0]"
                        (selectChangeEvent)="onSelectChange($event)">
                    </app-select>
                </div>
            </div>
            <div class="details__main">
                <ng-container
                    *ngIf="(wishlistService.wishlistItems$ | async)?.length; else empty">
                    <app-cards
                        [full]="true"
                        [data]="{ products: (wishlistService.wishlistItems$ | async) || []}"
                        [withCheckbox]="true"
                        [allCardsChecked]="allCardsChecked"
                        [size]="'big'"
                        (cardCheckboxChange)="onCardCheckboxChange($event)">
                    </app-cards>
                </ng-container>
                <ng-template #empty>
                    <div class="emptyBlock">
                        <img
                            src="https://res.cloudinary.com/dw60kllwn/image/upload/v1697731684/cabinet-dummy-error_omrmml.svg"
                            class="emptyBlock__img"
                            alt="no-products-img" />
                        <h3 class="emptyBlock__text">
                            Упс! Ваш список бажань пустий
                        </h3>
                        <p class="emptyBlock__subtitle">Наповніть його товарами</p>
                        <a routerLink="/">
                            <button class="emptyBlock__btn">
                                Перейти на головну
                            </button>
                        </a>
                    </div>
                </ng-template>
                <div class="details__total total" *ngIf="(wishlistService.wishlistItems$ | async)?.length">
                    <div class="total__quantity quantity">
                        <p class="quantity__amount">{{(wishlistService.wishlistItems$ | async)?.length}} товари на суму</p>
                        <p class="quantity__price">{{wishlistService.total}} &#x20b4;</p>
                    </div>
                    <button class="total__btn" (click)="buyProds()">Купити все</button>
                </div>
            </div>
        </ng-template>
    </section>
</div>
