<ul class="list">
  <li *ngFor="let item of data; let i = index">
    <div
      class="list__item"
      (mouseenter)="makeActiveTitle(i)"
      (mouseleave)="makeDisactiveTitle()"
      (click)="openBlock(i)"
    >
      <p class="list__itemTitle" [class.list__itemTitle-active]="activeTitleIndex === i">
        {{ item.title }}
        <span>{{ item.optionsNumber }}</span>
      </p>
      <mat-icon
        class="list__itemBtn"
        [class.rotate]="showLess"
        [class.rotateBack]="!showLess"
      >
        expand_less
      </mat-icon>
    </div>
    <div
      [class.list__item-full-active]="this.activeIndexArr && this.activeIndexArr.indexOf(i) > -1"
      class="list__item-full"
    >
      222222222222
    </div>
  </li>
</ul>
