<div
    class="comments"
    *ngIf="!withFilters">
    <div class="comments__header">
        <h3>
            Відгуки покупців <span>{{ comments.length }}</span>
        </h3>
        <button class="btn btn-grey btn-medium btn-send-comment">Написати відгук</button>
    </div>
    <ul class="comments__list">
        <li *ngFor="let comment of comments">
            <app-comment [comment]="comment"></app-comment>
        </li>
        <a routerLink="{{ link }}">
            <button class="showMoreBtn">
                Дивитися усі відгуки до товару
                <mat-icon class="showMoreBtn__icon">arrow_right_alt</mat-icon>
            </button>
        </a>
    </ul>
</div>

<ng-container *ngIf="withFilters">
    <div class="mb16 filters">
        <button
            class="btn btn-medium iconed-btn btn-blue filters-btn"
            (click)="openDialog('filters')">
            <mat-icon class="iconed-btn__icon">filter_alt</mat-icon>
            Фільтри
        </button>
        <div class="filters-select">
            <app-select
            [name]="'filters'"
            [options]="['З фото і відео', 'За датою', 'Найкорисніші']"
            [activeOption]="CommentsService.sortType"
            (selectChangeEvent)="onSelectChange($event)">
        </app-select>
        </div>
    </div>
    <!-- результати пошуку -->
    <app-search-result
        [selectedInputs]="SearchResultsService.selectedInputs">
    </app-search-result>
    <div>
        <ul>
            <li *ngFor="let comment of comments">
                <app-comment [comment]="comment"></app-comment>
            </li>
        </ul>
    </div>
</ng-container>
