<mat-dialog-content>
    <div class="modal-login modal-register modal-services">
        <header class="modal-login__header header">
            <h3 class="header__title">Cервіси продовження гарантії</h3>
            <button>
                <mat-icon
                    class="modal-login__close"
                    (click)="closeDialog()"
                    >close</mat-icon
                >
            </button>
        </header>
        <div class="services__info">
            <p>Додаткові 1 або 2 роки гарантії виробника від Support.ua</p>
            <p>Що входить:</p>
            <ul>
                <li>
                    Безкоштовний ремонт гарантійних поломів після закінчення
                    гарантії виробника
                </li>
                <li>Термін ремонту: до 14 днів</li>
                <li>
                    Компенсація 100% вартості пристрою, якщо ремонт неможливий
                </li>
                <li>24/7 телефонна підтримка</li>
            </ul>
        </div>
    </div>
</mat-dialog-content>
