<!-- Карточка з повною інформацію, з двома сторонами -->
<div
    *ngIf="full; else limited"
    class="cards">
    <p
        class="no-cards-found"
        *ngIf="data.products.length === 0">
        <mat-icon class="no-cards-found__icon"> reply </mat-icon>
        За заданими параметрами не знайдено жодної моделі
    </p>
    <ul class="cards__wrapper">
        <li
            class="card"
            *ngFor="let prod of data.products; let i = index"
            (mouseenter)="setshowExtendedCard(i)"
            (mouseleave)="hideExtendedCard()"
            [class.card-big]="size === 'big'"
            [class.card-withOpacity]="
                notAvailableProducts &&
                notAvailableProducts.indexOf(prod._id) > -1
            "
            [class.card-hiddenBorder]="activeIndex === i">
            <div class="checkboxWrapper">
                <app-checkbox
                    [search]="true"
                    [searchId]="prod._id"
                    (checkboxChange)="onCheckboxChange($event)" />
            </div>
            <!-- передня сторона карточки -->
            <div [ngStyle]="{ opacity: activeIndex === i ? '0' : '1' }">
                <div
                    class="card-innerWrapper"
                    [class.card-innerWrapper-big]="size === 'big'">
                    <!-- Кнопка додати до улюблених товарів -->
                    <button
                        *ngIf="!withCheckbox"
                        class="card__btn btn-icon btn-icon--small"
                        aria-label="Додати до улюблених">
                        <mat-icon
                            class="btn-icon__img"
                            aria-label="Додати до улюблених">
                            favorite_border
                        </mat-icon>
                    </button>
                    <!-- Зображення товару -->
                    <a routerLink="{{ '/' + prod.engName + '/' + prod._id }}">
                        <img
                            class="card__image"
                            [class.card__image-big]="size === 'big'"
                            src="{{
                                prod.image_mob ? prod.image_mob : prod.image
                            }}"
                            alt="prod-image" />
                    </a>
                    <!-- Заголовок товару -->
                    <a routerLink="{{ '/' + prod.engName + '/' + prod._id }}">
                        <h3 class="card__title">{{ prod.title }}</h3>
                    </a>
                    <!-- Рейтинг товару -->
                    <app-rating
                        [fixed]="true"
                        [activeIconIndex]="getRaiting(prod)"
                        [numReviews]="prod.reviews_data.length">
                    </app-rating>
                    <!-- Ціна і корзина для товару -->
                    <div class="card__price">
                        <app-price [price]="getPriceObject(prod)"></app-price>
                        <button
                            (click)="addToCart(prod)"
                            class="btn-icon btn-icon--small"
                            aria-label="Відкрити корзину">
                            <mat-icon class="shopping-cart">
                                {{checkIfProductInCart(prod._id) ? 'shopping_cart' : 'add_shopping_cart' }}
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <!-- задня сторона карточки -->
            <div
                class="card card-back"
                [class.card-back--active]="activeIndex === i">
                <div
                    class="card-innerWrapper"
                    [class.card-innerWrapper-big]="size === 'big'">
                    <!-- Кнопка додати до улюблених товарів -->
                    <button
                        *ngIf="!withCheckbox"
                        class="card__btn btn-icon btn-icon--small"
                        aria-label="Додати до улюблених">
                        <mat-icon
                            class="btn-icon__img"
                            aria-label="Додати до улюблених">
                            favorite_border
                        </mat-icon>
                    </button>
                    <!-- Зображення товару -->
                    <a routerLink="{{ '/' + prod.engName + '/' + prod._id }}">
                        <img
                            *ngIf="prod.image2; else basicImg"
                            src="{{ prod.image2 }}"
                            class="card__image"
                            [class.card__image-big]="size === 'big'"
                            alt="prod-image" />
                        <ng-template #basicImg>
                            <img
                                src="{{ prod.image }}"
                                class="card__image"
                                [class.card__image-big]="size === 'big'"
                                alt="prod-image" />
                        </ng-template>
                    </a>
                    <!-- Заголовок товару -->
                    <a routerLink="{{ '/' + prod.engName + '/' + prod._id }}">
                        <h3 class="card__title">{{ prod.title }}</h3>
                    </a>
                    <!-- Рейтинг товару -->
                    <app-rating
                        [fixed]="true"
                        [activeIconIndex]="getRaiting(prod)"
                        [numReviews]="prod.reviews_data.length">
                    </app-rating>
                    <!-- Ціна і корзина для товару -->
                    <div class="card__price">
                        <app-price [price]="getPriceObject(prod)"></app-price>
                        <button
                            class="btn-icon btn-icon--small"
                            (click)="addToCart(prod)">
                            <mat-icon class="shopping-cart">
                                {{checkIfProductInCart(prod._id) ? 'shopping_cart' : 'add_shopping_cart' }}
                            </mat-icon>
                        </button>
                    </div>
                </div>
                <!-- Додаткова інформація про товар -->
                <ng-container *ngIf="prod.info">
                    <ul class="card__info">
                        <li
                            class="info"
                            *ngFor="let infoitem of prod.info">
                            <p class="info__heading">{{ infoitem.heading }}:</p>
                            <span class="info__text">{{ infoitem.text }}</span>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </li>
    </ul>
</div>

<!-- Карточка з обмеженою інформацією, одна сторона -->
<ng-template #limited>
    <div class="cards">
        <h2 class="cards__title">{{ data.category }}</h2>
        <ul class="cards__wrapper">
            <li
                class="card"
                *ngFor="let prod of data.products.slice(0, endVal)">
                <button
                    class="card__btn btn-icon"
                    aria-label="Додати до улюблених">
                    <mat-icon class="btn-icon__img">favorite_border</mat-icon>
                </button>
                <a routerLink="{{ '/' + prod.engName + '/' + prod._id }}">
                    <img
                        [src]="prod.image_mob ? prod.image_mob : prod.image"
                        [attr.loading]="'lazy'"
                        class="card__image"
                        alt="prod-image" />
                </a>
                <a routerLink="{{ '/' + prod.engName + '/' + prod._id }}">
                    <h3 class="card__title">{{ prod.title }}</h3>
                </a>
                <div class="card__price">
                    <app-price [price]="getPriceObject(prod)"></app-price>
                </div>
            </li>
        </ul>
        <button
            [ngStyle]="{ display: !showBtn ? 'none' : 'flex' }"
            (click)="showMoreCards(data.category ? data.category : '')"
            class="cards__btn showMoreBtn showMoreBtn-outlined">
            Показати ще
            <mat-icon class="showMoreBtn__icon">arrow_downward</mat-icon>
        </button>
    </div>
</ng-template>
