@import '../../../variables.sass'

.subcategory
    margin-top: 2rem
    &__title
        font-size: 3.6rem
        margin-top: 2rem
        margin-bottom: 3rem
    &__list
        display: flex
        flex-wrap: wrap
    &__item
        width: 12.5%
        &:not(:last-child)
            border-right: 1px solid #e9e9e9
    &__catalog

// 
.catalog
    &__settings
        display: flex
        justify-content: flex-end
        padding-top: 16px
        padding-bottom: 16px
        border-bottom: 1px solid #e9e9e9
    &__main
        display: flex
        flex-wrap: wrap
    &__search-aside
        width: 25rem
        border-right: 1px solid #e9e9e9
    &__cards
        flex-grow: 1
// 
.btns-wrapper
    margin-left: 1rem
.btn-big
    border: 1px solid #d2d2d2
    border-radius: 4px 0 0 4px
    border-right: none
.btn-small
    border: 1px solid #d2d2d2
    border-radius: 0px 4px 4px 0px
.btn-icon
    width: 4rem
    height: 3.2rem
    display: flex
    justify-content: center
    align-items: center
    color: $main-blue
    &-active
        background: $main-blue
        color: $main-white
        border: 1px solid $main-blue
        transition: all .4s ease

:host
    ::ng-deep app-category-card
        .card
            margin-bottom: 1.6rem
            &__imageWrapper
                height: 12rem
                margin-bottom: 1.6rem
            &__title
                font-size: 14px
    ::ng-deep app-select
        .select
            height: 3.2rem
