<app-characteristics-block [full]="true"></app-characteristics-block>

<!-- <div class="characteristics-fullBlock">
    <div class="characteristics-fullBlock__left">
        <app-characteristics-block [full]="true"></app-characteristics-block>
    </div>
    <div class="characteristics-fullBlock__right">
        <div class="info__item mb16 card">
            <div class="card__image">
                <img src="../../../assets/defunc.webp" alt="good">
            </div>
            <p class="card__title">Навушники Defunc True Music TWS Black (D4271M) </p>
        </div>
        <div class="info__item mb16">
            <div class="price">
                <div class="trade__price">
                    <app-price [price]="price" [big]='true'></app-price>
                    <p class="trade__price-status">Є в наявності</p>
                </div>
                <div class="trade__btns">
                    <button class="btn btn-icon btn-icon-grey">
                        <mat-icon class="btn-icon__icon">balance</mat-icon>
                    </button>
                    <button class="btn btn-icon btn-icon-orange">
                        <mat-icon class="btn-icon__icon">favorite_border</mat-icon>
                    </button>
                </div>
            </div>
            <div class="trade__buy">
                <button class="btn iconed-btn btn-medium btn-green width100">
                 <mat-icon class="iconed-btn__icon">shopping_cart</mat-icon>
                 Купити
                 </button>
            </div>
        </div>
        <div class="info__item mb16 seller">
            <p class="seller__title">Продавець: <span>Rozetka</span></p>
            <div class="seller__image">
                <img src="../../../assets/rozetka-seller.svg" alt="rozetka">
            </div>
        </div>
    </div>
</div>
<app-cards [data]="newProds"></app-cards>
 -->
