<ul class="media__list">
    <li class="media__item">
        <a
            href="https://www.facebook.com/rozetka.ua"
            target="_blank">
            <img
                class="media__icon"
                src="../assets/fb.png"
                loading="lazy"
                alt="fb-icon" />
        </a>
    </li>
    <li class="media__item">
        <a
            href="https://www.youtube.com/channel/UCr7r1-z79TYfqS2IPeRR47A"
            target="_blank">
            <img
                class="media__icon"
                src="../assets/youtube.png"
                alt="youtube-icon"
                loading="lazy" />
        </a>
    </li>
    <li class="media__item">
        <a
            href="https://www.instagram.com/rozetkaua/"
            target="_blank">
            <img
                class="media__icon"
                src="../assets/instagram.png"
                alt="instagram-icon"
                loading="lazy" />
        </a>
    </li>
    <li class="media__item">
        <a
            href="https://twitter.com/rozetka_ua"
            target="_blank">
            <img
                class="media__icon"
                src="../assets/twitter.png"
                alt="twitter-icon"
                loading="lazy" />
        </a>
    </li>
    <li class="media__item">
        <a
            href="https://t.me/rrozetka"
            target="_blank">
            <img
                class="media__icon"
                src="../assets/telegram.png"
                alt="telegram-icon"
                loading="lazy" />
        </a>
    </li>
</ul>
