<div
    *ngIf="cartService.totalProductsNumber > 0"
    class="cart-notification">
    <div class="cart-notification__number">
        <!-- <mat-icon
            class="cart-notification__icon"
            aria-label="Додати до корзини">
            shopping_cart
        </mat-icon> -->
        <p class="cart-notification__heading">
            У кошику <span>{{ cartService.totalProductsNumber }}</span> товари
            на суму <span>{{ cartService.totalPrice }} ₴</span>
        </p>
    </div>
    <ul class="cart-notification__list">
        <li *ngFor="let product of cartService.productsFromStorage">
            <!-- <button
                matBadge="{{ product.amount }}"
                matBadgePosition="above after"
                class="custom-badge"
                aria-label="Кількість товарів у корзині">
                <img
                    src="{{ product.image }}"
                    alt="product-image"
                    class="cart-notification__image" />
            </button> -->
        </li>
    </ul>
    <div>
        <a routerLink="/checkout">
            <button class="order-btn">Оформити замовлення</button>
        </a>
    </div>
</div>
